atomic-system.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:include schemaLocation="atom.xsd"/>
    <xsd:include schemaLocation="atomic-cell.xsd"/>
    <xsd:complexType name="atomic-system-type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="cell" type="atomic-cell-type"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="atom" type="atom"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
