attribute-AM-material.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:include schemaLocation="attribute-base.xsd"/>
    <xsd:include schemaLocation="chemical-element.xsd"/>
    <xsd:complexType name="attribute-AM-material">
        <xsd:complexContent>
            <xsd:extension base="attribute-base">
                <xsd:sequence>
                    <xsd:element name="SampleMaterial">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="materialName" type="xsd:string"/>
                                <xsd:element name="NominalComposition">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="quantityUnit">
                                                <xsd:simpleType>
                                                  <xsd:restriction base="xsd:string">
                                                  <xsd:enumeration value="mass fraction"/>
                                                  <xsd:enumeration value="mass percent"/>
                                                  <xsd:enumeration value="mole fraction"/>
                                                  <xsd:enumeration value="mole percent"/>
                                                  </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="constituents"
                                                ns0:_mod_mdcs_="/diffusion/periodic-table-multiple"
                                                xmlns:ns0="http://mdcs.ns">
                                                <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="constituent">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="element"
                                                  type="chemical-element-type"/>
                                                  <xsd:element name="quantity" type="xsd:double"/>
                                                  <xsd:element minOccurs="0" name="purity"
                                                  type="xsd:double"/>
                                                  <xsd:element minOccurs="0" name="error"
                                                  type="xsd:double"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="PowderType">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="Type">
                                                <xsd:simpleType>
                                                  <xsd:restriction base="xsd:string">
                                                  <xsd:enumeration value="Recycle"/>
                                                  <xsd:enumeration value="Virgin"/>
                                                  </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="PowderSize">
                                                <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="PowderDiameter"
                                                  type="xsd:decimal"/>
                                                  <xsd:element name="PowderDiameterUnit"
                                                  type="xsd:string"/>
                                                  <xsd:element name="PowderDistribution"
                                                  type="xsd:string"/>
                                                  </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
