crystal-prototype.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:include schemaLocation="crystal-identifier.xsd"/>
    <xsd:include schemaLocation="crystal-structure.xsd"/>
    <xsd:complexType name="crystal-protype-type">
        <xsd:all>
            <xsd:element minOccurs="0" name="identifier" type="crystal-identifier-type"/>
            <xsd:element minOccurs="0" name="crystal-structure" type="crystal-structure-type"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
