crystal-space-group.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:complexType name="crystal-space-group">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="number" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Hermann-Maguin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Schoenflies" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
