grain-boundary-fundamental-zone.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">
    <xsd:include schemaLocation="physical-quantity-numerator_L-denominator_.xsd"/>
    <xsd:include schemaLocation="rotation-matrix.xsd"/>
    <xsd:complexType name="grain-boundary-fundamental-zone">
        <xsd:sequence>
            <xsd:element name="misorientation-matrix" type="rotation-matrix"> </xsd:element>
            <xsd:element name="boundry-normal" type="physical-quantity-L--type"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
