HTE-inventory.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:include schemaLocation="physical-quantity-L-.xsd"/>
    <xsd:element name="library-inventory">
        <xsd:annotation>
            <xsd:documentation>Assumptions:
(1) The origin of the Cartesian coordinate system is at the center of the dominant geometric features. 
(2) For circular wafers, the largest flat edge is bisected by the negative Y-axis.
(3) For square and rectangular wafers, the edges are aligned with the coordinate system.
(4) For square and rectangular wafers, the fiducial marker is located in the first quadrant of the Cartesian coordinate system.
(5) The positive Z-axis is normal to the film surface.
</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="instrument-ID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Identifier if data was generated by an instrument.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="sample-ID" type="xsd:string"/>
                <xsd:element minOccurs="0" name="data-analysis-ID" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Identifier if data was generated by a software analysis or data transformation.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="wafer-geometry">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="circle">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="diameter"
                                            type="physical-quantity-L--type"/>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="square">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="width" type="physical-quantity-L--type"/>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="rectangle">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="width" type="physical-quantity-L--type"/>
                                        <xsd:element name="height" type="physical-quantity-L--type"
                                        />
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" name="record">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="inventory-ID" type="xsd:int"/>
                            <xsd:element name="x" type="physical-quantity-L--type"/>
                            <xsd:element name="y" type="physical-quantity-L--type"/>
                            <xsd:element name="dataset-location" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Relative path on the file system or URL. </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
