instrument-base.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">
    <xsd:include schemaLocation="remote-file.xsd"/>
    <xsd:include schemaLocation="sensor.xsd"/>
    <xsd:include schemaLocation="parameter.xsd"/>
    <xsd:complexType name="instrument-base">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="instrument-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sample-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="user-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="acquisition-date-time" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="comment" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="specialized-metadata" type="xsd:anyType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="sensor" type="sensor-type"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameter-type"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="supporting-file"
                type="remote-file-type"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
