record-HTE-thin-film-sample.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">
    <xsd:include schemaLocation="physical-quantity.xsd"/>
    <xsd:element name="sample">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="id" type="xsd:string"/>
                <xsd:element minOccurs="0" name="nickname" type="xsd:string"/>
                <xsd:element minOccurs="0" name="creator" type="person"/>
                <xsd:element minOccurs="0" name="synthesis-date" type="xsd:date"/>
                <xsd:element minOccurs="0" name="wafer">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="circle">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="diameter" type="physical-quantity-type"
                                            minOccurs="0"/>
                                        <xsd:element minOccurs="0" name="fiducial-position"
                                            type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="square">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="width" type="physical-quantity-type"
                                            minOccurs="0"/>
                                        <xsd:element minOccurs="0" name="fiducial-position"
                                            type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="rectangle">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="width" type="physical-quantity-type"
                                            minOccurs="0"/>
                                        <xsd:element name="height" type="physical-quantity-type"
                                            minOccurs="0"/>
                                        <xsd:element minOccurs="0" name="fiducial-position"
                                            type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="deposited-material"
                    type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="point">
                    <xsd:annotation>
                        <xsd:documentation>a position on the sample</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="id" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="coordinates">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="x" type="physical-quantity-type"
                                            minOccurs="0"/>
                                        <xsd:element name="y" type="physical-quantity-type"
                                            minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="digital-artifact"
                                type="remote-file-type"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="digital-artifact"
                    type="remote-file-type"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="person">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="organization" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="phone" type="xsd:string"/>
            <xsd:element minOccurs="0" name="e-mail" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="remote-file-type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element minOccurs="0" name="downloadURL" ns0:_mod_mdcs_="/curator/blob-hoster"
                type="xsd:anyURI" xmlns:ns0="http://mdcs.ns"/>
            <xsd:element minOccurs="0" name="accessURL" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="local" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
