remote-file.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:complexType name="remote-file-type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element xmlns:ns0="http://mdcs.ns" minOccurs="0" name="downloadURL"
                type="xsd:anyURI" ns0:_mod_mdcs_="/curator/blob-hoster"/>
            <xsd:element minOccurs="0" name="accessURL" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="local" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
