resource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">
    <xsd:include schemaLocation="attribute-base.xsd"/>
    <xsd:include schemaLocation="attribute-comment.xsd"/>
    <xsd:include schemaLocation="attribute-resource-type-datacite.xsd"/>
    <xsd:include schemaLocation="attribute-primary-audience.xsd"/>
    <xsd:include schemaLocation="attribute-version.xsd"/>
    <xsd:include schemaLocation="attribute-status.xsd"/>
    <xsd:include schemaLocation="attribute-MSE-computational-method-general.xsd"/>
    <xsd:include schemaLocation="attribute-MSE-experimental-method-general.xsd"/>
    <xsd:include schemaLocation="attribute-MSE-material-type-general.xsd"/>
    <xsd:include schemaLocation="attribute-MSE-property-class-general.xsd"/>
    <xsd:include schemaLocation="attribute-MSE-structural-morphology-general.xsd"/>
    <xsd:include schemaLocation="attribute-other.xsd"/>
    <xsd:include schemaLocation="thing.xsd"/>
    <xsd:include schemaLocation="identifier.xsd"/>
    <xsd:include schemaLocation="access.xsd"/>
    <xsd:include schemaLocation="person.xsd"/>
    <xsd:include schemaLocation="affiliate.xsd"/>
    <xsd:include schemaLocation="resource-date.xsd"/>
    <xsd:include schemaLocation="publisher.xsd"/>
    <xsd:complexType name="resource">
        <xsd:complexContent>
            <xsd:extension base="thing">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="subject"
                        type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Subject</label>
                                <placeholder>E.g. catalysis</placeholder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="description" type="xsd:string" xmlns:ns0="http://mdcs.ns"
                        ns0:_mod_mdcs_="/registry/description" maxOccurs="unbounded" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Description</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="date"
                        type="resource-date">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Date</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="access" type="access" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Access</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="publisher"
                        type="publisher">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Publisher</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="affiliate"
                        type="affiliate">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Affiliate (e.g., Contact, Owner, Contributer)</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="attribute"
                        type="attribute-base">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <label>Attribute</label>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
