uncertainty.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:complexType name="uncertainty-type">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="value" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
